body {
    background-color: #4287f5;
    font-family: arial;
}

div {
    align: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
}

h2 {
    text-align: center;
    color: white;
    width: 50%;
}

th {
    text-align: left;
}