<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:insert="components :: navbar"></div>
<h2> Welcome To Admin Page </h2>

<form
        th:action="@{/logout}" method="post"> <input type="submit" value="Logout">
</form>
</body>

</html>