<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Assign Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:insert="components :: navbar"></div>
    <div>
        <table class="table table-striped" cellspacing="20">
            <caption>Group members</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each = "member, groupList: ${groupList}">
                    <td th:text="|${member.firstName} ${member.lastName}|"></td>
                    <td>
                        <a type="button" th:href="@{'/assign/complete?id=' + ${todo.id} + '&username=' + ${member.username}}">Assign</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a type="button" th:href="@{/list-todos}">Return to Task List</a>
    </div>
</body>
</html>