<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <base href="/">
    <link href="static/css/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<h2>Update your task</h2>
<div class="container">
    <form th:action="@{/edit-todo}" th:object="${task}" method="post">
        <table>
            <tr>
                <th scope="row"><label>Task Name:</label></th>
                <td><input type = "text" th:field="*{name}" placeholder="ex: Wash car" id="name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Invalid task name </span>
                </td>
            </tr>
            <tr>
                <th scope = "row"><label>Task Description:</label></th>
                <td><input type = "text" th:field="*{description}" placeholder = "ex: Take car to Bob's Car Wash" id="description">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red">Invalid description</span>
                </td>
            </tr>
            <tr>
                <th scope = "row"><label>Deadline:</label></th>
                <td><input type = "text" th:field="*{deadline}" placeholder="ex: yyyy-MM-dd" id="deadline">
                    <span th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" style="color:red">Invalid deadline</span>
                </td>
            </tr>
        </table>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{username}"/>
        <input type = "submit" value = "Save changes">
    </form>
</div>
</body>
</html>