<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:insert="components :: navbar"></div>
<h2>Update your task</h2>
<div class="container">
    <form th:action="@{/edit-todo}" th:object="${task}" method="post">
        <table>
            <tr>
                <th scope="row"><label>Task Name:</label></th>
                <td><input type = "text" th:field="*{name}" placeholder="ex: Wash car" id="name">
                    <span th:if="${#fields.hasErrors('name')}" style="color:red">Invalid task name </span>
                </td>
            </tr>
            <tr>
                <th scope = "row"><label>Task Description:</label></th>
                <td><input type = "text" th:field="*{description}" placeholder = "ex: Take car to Bob's Car Wash" id="description">
                    <span th:if="${#fields.hasErrors('description')}" style="color:red">Invalid description</span>
                </td>
            </tr>
            <tr>
                <th scope = "row"><label>Deadline:</label></th>
                <td><input type = "date" th:field="*{deadline}" placeholder="ex: yyyy-MM-dd" id="deadline">
                    <span th:if="${#fields.hasErrors('deadline')}" style="color:red">Invalid deadline</span>
                </td>
            </tr>
        </table>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{username}"/>
        <input type = "submit" value = "Save changes">
    </form>
</div>
</body>
</html>