<!DOCTYPE html>
<html lang="en" xmlsn="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"/>
</head>
<body>
    <div class="container">
        <table class="table table-striped" cellspacing="20">
            <caption>Your current to-dos:</caption>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Completion Status</th>
                    <th>Mark Complete</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <th:each>
                    <td th:text="${todo.desc}">Desc</td>
                    <td th:text="${#dates.format(todo.targetDate, 'dd.MM/yyyy')}">Deadline</td>
                    <td th:text="${todo.done}">Completion</td>
                    <td>
                        <input type="checkbox" data-toggle="toggle" th:checked="${todo.done}"/>
                    </td>
                </th:each>
            </tbody>
        </table>
    </div>

    <div>
        <a class="button" href="/add-todo">Add a task</a>
    </div>
</body>
</html>