<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="components :: meta-links"></div>
    <title>Login</title>

</head>
<style>
    <style>
        body{
            font-size: medium;
            background-color: ghostwhite;
            alignment: center;
        }
        form{
            background: ghostwhite;
            padding: 40px;
            max-width: 40%;
            /*height: 500px;*/
            margin: 40px auto;
        }
        table{
            background: ghostwhite;
        }

        div{
            background: ghostwhite;
        }
    </style>

</style>
<body>
<div th:insert="components :: navbar"></div>

<div th:if="${param.error}">
    Invalid username or password try again!
</div>

<div th:if="${param.logout}">
    You have been logged out
</div>

<form th:action="@{/login}" method="post"/>
<div style="text-align:center"><h3>Login</h3></div>
    <div>
        <label>Username: <input type="text" name="username" ></label>
    </div>

    <div>
        <label>Password: <input type="text" name="password" ></label>
    </div>

<input type="submit" value="Login">
</form>


</body>
</html>