<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Secure Page</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body{
            font-size: medium;
            background-color: ghostwhite;
            alignment: center;
        }
        form{
            background: ghostwhite;
            padding: 40px;
            max-width: 40%;
            /*height: 500px;*/
            margin: 40px auto;
        }
        table{
            background: ghostwhite;
        }

        div{
            background: ghostwhite;
        }
    </style>
</head>
<body>
<div th:insert="components :: navbar"></div>
<!--Passed info: the whole class os User(username,email,pass,first{+last_name, enabled)-->
<h2>Secured Page</h2>

<h4>User Name:</h4>
<div>
    <p>[[${user.lastName}]], [[${user.firstName}]]</p>
    <p>Email: [[${user.email}]]</p>
    <p>userName: [[${user.username}]]</p>
</div>

<p>Roles: </p>
<div th:each="role: ${roles}">
    <p>Role: [[${role.role}]]</p>
</div>

</body>
</html>