<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sort task</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:insert="components :: navbar"></div>
<h2>Sort Task</h2>
<div class="container">

        <div th:if="${#lists.isEmpty(folderList)}">
            You haven't created any folders yet.
            <br>
        </div>

        <div th:unless="${#lists.isEmpty(folderList)}">
            <li th:each="folder: ${folderList}" style="list-style-type:none;">
                <a type="button" th:text="'Add to ' + ${folder.folderName}"
                   th:href="@{'/sort/assigned?folderId=' + ${folder.id} + '&taskId=' + ${task.id}}">Add</a>
            </li>
        </div>
    <a type="button" th:href="@{/list-todos}" class="btn btn-primary">Back</a>
</div>
</body>
</html>