<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sort task</title>
    <base href="/">
    <link href="static/css/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<h2>Sort Task</h2>
<div class="container">

        <div th:if="${#lists.isEmpty(folderList)}">
            You haven't created any folders yet.
            <br>
            <a type="button" th:href="@{/list-todos}">Back</a>
        </div>

        <div th:unless="${#lists.isEmpty(folderList)}">
            <li th:each="folder: ${folderList}" style="list-style-type:none;">
                <a type="button" th:text="'Add to ' + ${folder.folderName}" th:href="@{'/sort/assigned?folderId=' + ${folder.id} + '&taskId=' + ${task.id}}">Add</a>
            </li>
        </div>
</div>
</body>
</html>